<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="request-to-join-header text-center">
        <h1>Chat with</h1>
        <h2><%= @conversation.with(current_user).full_name %></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div id="conversation-main">
        <div id="conversation-body">
          <%= render @conversation.personal_messages %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-xs-12 col-md-10">
        <div class="msg-box text-center">
          <%= form_for @personal_message, remote: true do |f| %>
            <%= hidden_field_tag 'conversation_id', @conversation.id %>
            <%= f.text_area :body, label:false, placeholder: "Write your message" %>
        </div>
      </div>
        <div class="col-xs-12 col-md-2">
          <div class="send text-center">
            <%= f.submit "send", class: "send-msg-btn" %>
          <% end %>
<!--             <button class="btn msg-back-btn"><%= link_to "back", url_for(:back)%></button> -->
          </div>
        </div>
      </div>
      </div>
    </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    var pusher = new Pusher('b0de02a8f3fdb48196e8', {
      cluster: 'eu',
      encrypted: true
    });

    var channel = pusher.subscribe("conversation-<%= @conversation.id %>-<%= Rails.env %>");
    channel.bind('message', function(data) {
      onNewMessage(data.message);
    });

  </script>
<% end %>
