<div class="container">
  <div class="invite-user">
    <div class="invite-user-header">
      <h1>Invite <%= @request.user.name %> to Join your Project</h1>
    </div>
    <div class="request-user-details">
      <p><%= @request.user.name %></p>
      <p><%= @request.user.skills %></p>
    </div>
    <% simple_form_for [@role, @request] do |f| %>
      <div class="request-project-and-role">
        <!-- add js dropdown for which project and role -->
      </div>
      <div class="request-invite-message">
        <%= f.text_field :owner_message %>
      </div>
      <div class="invite-create-or-back">
        <button class="btn btn-primary"><%= link_to "Back", project_path(@role.project) %></button>
        <%= f.button :submit, 'submit request', class: "btn" %>
      </div>
  </div>
</div>
