<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-card">
        <div class="profile-picture text-center">
           <% if @user.profile_picture %>
            <%= cl_image_tag @user.profile_picture%>
            <% else %>
            <%= image_tag "default-user.png", width: 100%>
            <% end %>
        </div>
        <div class="card-content">
          <h2 class="username"><%= @user.first_name %> <%= @user.last_name %></h2>
          <p><%= @user.bio %></p>
          <h4>Skills</h4>
          <p><%= @user.skills %></p>
          <h4>Portfolio</h4>
          <p><%= link_to "my portfolio", "http://#{@user.portfolio_url}" %></p>
<!--           <% if @user != current_user %>
          <%= link_to "invite #{@user.first_name}", invite_user_path(@user) %>
          <% end %> -->
        </div>
      </div>
    </div>
      <div class="col md-offset-1 col-md-8">
        <div class="active-projects">
          <h1 class="project-title">Projects</h1>
          <div class="row">
          <% @user.projects.each do |project| %>
            <div class="col-md-6">
              <%= link_to project_path(project.id) do %>
              <div class="card">
                <div class="card-img" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 30%), url( <%= project.picture %>);">
                </div>
                <div class="card-content">
                  <h4 class="card-title"><%= project.title %></h4>
                  <h4 class="card-category"><%= project.category %></h4>
                  <h5 class="card-subcategory subcategory"><%= project.subcategory %></h5>
                  <p class="project-description"><%= project.short_description %></p>
                </div>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
