<div class="container">
  <div class="row dashboard-total">
    <div class="profile-card col-md-3">
      <div class="profile-picture">
         <% if @user.profile_picture %>
           <div class="card-img bg-picture" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 30%), url( <%= @user.profile_picture %>);">
           </div>
    <!-- <%= cl_image_tag @user.profile_picture %> -->
         <% else %>
           <div class="card-img bg-picture" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 30%), url('default-user.png');">
           </div>
         <% end %>

        <div class="dash-profile-info">
          <h2 class="username"><%= @user.first_name %> <%= @user.last_name %></h2>
          <p class="user-bio"><%= @user.bio %></p>
          <h4>Skills</h4>
          <p><%= @user.skills %></p>
          <h4>Portfolio</h4>
          <p><%= link_to "my portfolio", "http://#{@user.portfolio_url}" %></p>
<!--           <% if @user != current_user %>
          <%= link_to "invite #{@user.first_name}", invite_user_path(@user) %>
          <% end %> -->

          <% if current_user == @user %>
            <%= link_to edit_user_path(@user) do %>
              <p class="edit-profile-link text-center" id="edit">edit profile</p>
            <% end %>
            <% else %>
              <%= link_to new_personal_message_path(receiver_id: @user.id) do %>
                <p class="edit-profile-link text-center" id="edit">send a message</p>
              <% end %>
              <% end %>
        </div>
        </div>
      </div>

      <div class="col-md-8 col-md-offset-1 ">
        <div class="active-projects">
          <h1 class="project-title">Projects</h1>
          <div class="row">
          <% @user.projects.each do |project| %>
            <div class="col-md-6">
              <%= link_to project_path(project.id) do %>
              <div class="card">
                <div class="card-img" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 30%), url( <%= project.picture %>);">
                </div>
                <div class="card-content">
                  <h4 class="card-title"><%= project.title %></h4>
                  <h4 class="card-category"><%= project.category %></h4>
                  <h5 class="card-subcategory subcategory"><%= project.subcategory %></h5>
                  <p class="project-description"><%= project.short_description %></p>
                </div>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
