<div class="container">
  <div class="requested-body">
    <div class="requested-header">
      <h1><%= @request.role.project.title %></h1>

    </div>
    <div class="requested-project-details">
      <h3><%= @role.project.short_description %></h3>
      <% unless current_user == @role.project.owner %>
        <button class="btn btn-primary"><%= link_to "learn more", project_path(@role.project) %></button>
      <% end %>
    </div>
    <%= simple_form_for [@request], :html => {:id=>'requested-form'} do |f| %>
      <div class="requested-role-details">
        <h2>Role: <%= @role.title %></h2>
        <p>Description: <%= @role.description %></h3>
        <p>Requirements: <%= @role.requirements %></p>
        <p>Compensation: <%= @role.compensation %></p>
      </div>


      <div class="requested-messages">
        <% if @request.created_by == @role.project.owner %>
          <div class="requested-sent-messsage">
            <p><%= "#{@role.project.owner.first_name}: #{@request.owner_message}" %> </p>
          </div>
          <% if @request.user_message.nil? %>
            <div class="requested-send-message">
              <%= f.text_field :user_message %>
              <%= link_to 'send', "", :onclick => "$('#requested-form').submit()" %>
            </div>
          <% else %>
            <div class="requested-sent-messsage">
              <p><%= "#{@role.user.first_name}: #{@request.user_message}" %> </p>
            </div>
          <% end %>

        <% else %>
          <div class="requested-sent-messsage">
            <p><%= "#{@role.project.user.first_name}: #{@request.user_message}" %> </p>
          </div>
          <% if @request.owner_message.nil? %>
            <div class="requested-send-message">
              <%= f.text_field :owner_message %>
              <%= link_to 'send', "", :onclick => "$('#requested-form').submit()" %>
            </div>
          <% else %>
            <p><%= "#{@role.project.owner.first_name}: #{@request.owner_message}" %> </p>
          <% end %>
        <% end %>
      </div>

      <!-- implement message thread table -->


      <div class="requested-create-or-back">
        <button class="btn btn-primary"><%= link_to "Back", dashboard_path %></button>
        <% unless (@request.user_confirm && @request.owner_confirm) || current_user == @request.created_by %>
          <%= f.button :submit, 'decline', class: "btn" %>
          <%= f.button :submit, 'accept', class: "btn" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Trigger/Open The Modal -->
<button id="role-btn">Open Modal</button>

<!-- The Modal -->
<div id="role-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>



<% content_for(:after_js) do %>
  <script>
// Get the modal
  var modal = $('#role-modal');

  // Get the button that opens the modal
  var btn = $("#role-btn");

  // Get the <span> element that closes the modal
  var span = $(".close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function() {
      modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
      modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }


  $(document).ready(function() {

    $('.input-sm').change(function() {

    });

  });
  </script>
<% end %>

