<div class="banner bg-picture banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('<%= asset_path('ourbanner.jpg') %>')">
  <div class="banner-content banner-home-content">
    <div class="banner-title ">
      <!-- <h1>what's <br> your <br> talent?</h1> -->
      <h1>what's your <br> <h1 id="home-talent">talent?</h1></h1>
      <!-- <h2>find a project, <br> get connected.</h2> -->
    </div>
    <div class="search-bar">
      <div class="form-inline aa-input-container invisible-search">
        <%= simple_form_for [@project], url: projects_path, method: :get do |f| %>
        <ul class="list-inline">
          <li><h2>I am a </h2></li>
          <li>
            <%= simple_fields_for :role_input do |r| %>
                <%= r.input :roles, required: false, label: false, as: :string, placeholder: "Specialist", input_html: { class: "aa-input-search"} %>
            <% end %>
          </li>
          <br>
          <li><h2>looking for a</h2></li>
          <li><%= f.input :category, collection: Project::CATEGORIES.keys, selected: "art", label: false %>

          </li>
          <li><h2> project</h2></li>
          <br>
          <li><h2>in</h2></li>
          <li><%= f.input :address, required: false, placeholder: "anywhere...", label: false %></li>
          <br>
        </ul>

          <%= f.button :submit, 'search',  class: "btn"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="wrapper">
  <h2>Featured projects</h2>
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to project_path(project.id) do%>
          <div class="card">
            <div class="card-img bg-picture" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 30%), url( '<%= image_path project.picture %>');">
            </div>
              <div class="card-content">
                <h3 class="card-title" id="home-card-title-fix"><%= project.title %></h3>
                <h4 class="card-category"><%= project.category %></h4>
                <h5 class="card-subcategory"><%= project.subcategory %></h5>
                <p><%= project.short_description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script>
  var client = algoliasearch("8ECOR4OKYP", "265f77efadba84f52617a6870bfa7c68");
  var index = client.initIndex('Role');
  //initialize autocomplete on search input (ID selector must match)
  autocomplete('#role_input_roles',
  { hint: false }, {
      source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
      //value to be displayed in input control after user's suggestion selection
      displayKey: 'title',
      //hash of templates used when rendering dataset
      templates: {
          //'suggestion' templating function used to render a single suggestion
          suggestion: function(suggestion) {
            return '<span>' +
              suggestion._highlightResult.title.value + '</span>';
          }
      }
  });
</script>
