<div id="wrapper-form">
  <div id="navigation" style="display:none;">
    <ul>
      <li class="active">
        <a href="#">Information</a>
      </li>
      <li>
        <a href="#">Project Details</a>
      </li>
      <li>
        <a href="#">Optional</a>
      </li>
      <li>
        <a href="#">Confirm</a>
      </li>
    </ul>
  </div>
  <div id="steps" class="text-center">
    <%= simple_form_for @project do |f| %>

      <fieldset class="step">
        <legend>Information</legend>
        <div class="row text-center">
          <div class="col-xs-12 space-top">
            <p>
            <%= f.label :title, 'Title' %><%= f.text_field :title, placeholder: 'Name of your Project', label: false%>
            </p>
          </div>
          <div class="col-xs-12 space-top">
            <p>
              <%= f.label :category, 'Category' %><%= f.select :category, Project.categories, include_blank:"Select a category" %>
            </p>
          </div>
        </div>
        <!-- subcategory -->
      </fieldset>

      <fieldset class="step">
        <legend>Description</legend>
          <div class="col-xs-12 space-top">
            <p>
            <%= f.label :full_description, 'Description' %><%= f.text_field :full_description, placeholder: 'Descripe your Project', label:false %>
            </p>
          </div>
          <div class="col-xs-12 space-top">
            <p>
            <%= f.label :short_description, 'Summarize' %><%= f.text_field :short_description, placeholder: 'Summarize your Project!', label:false %>
            </p>
          </div>
      </fieldset>

      <fieldset class="step">
        <legend>Optional</legend>
        <div class="col-xs-12 space-top">
          <p>
            <%= f.label :total_budget, 'Budget' %><%= f.text_field :total_budget, placeholder: 'Do you have a budget for your project?', label:false %>
          </p>
        </div>
        <div class="col-xs-12 space-top">
          <p>
            <%= f.input :picture, class: "space-auto", label: false%>
          </p>
        </div>
        <!-- still need a start_date datepicker -->
        <!-- still need the roles he wants to have!!! -->
      </fieldset>

      <fieldset class="step">
        <div class="col-xs-12 space-top">
          <%= f.button :submit, 'Create a new Project', class: "btn" %>
        </div>
      </fieldset>

    <% end %>
  </div>
</div>

