<%= content_for(:title) do %>
  Zentangle - <%= @project.title %>
<% end %>

<div class="container">
<h1><%= @project.title %> <-- Project name</h1>
  <div class="row">
    <div class="col-md-7 video">
      <div class="project-picture" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.45) 0%, rgba(0,36,61,0.45) 50%), url('https://unsplash.it/400/300'); width: 100%; height: 300px;">
      </div>
    </div>
    <div class="col-md-5 panel-side">
      <div class="avatar" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.45) 0%, rgba(0,36,61,0.45) 50%), url( <%= @project.user.profile_picture %> );">avatar test</div>
      <%= link_to user_path(@project.user.id) do %>
        <h4><%= @project.user.first_name %> <%= @project.user.last_name %></h4>
        <% end %>
      <div class="info">
        <div class="title"><h3>About the Project</h3></div>
        <div class="description"><p><%= @project.short_description %></p></div>
      </div>
      <div class="timeline"></div>
    </div>
  </div>
</div>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 lower-left">
      <div class="info">
        <div class="title"><h3>Collaborators</h3></div>
        <div class="collaborators">
          <%= @project.user.first_name %>
        </div>
        <div class="title"><h3>Available Positions</h3></div>
        <div class="available-positions"><%= @project.roles %></div>
        <div class="title"><h3>Fundings</h3></div>
        <div class="funding">test funding</div>
      </div>
    </div>
    <div class="col-md-8 lower-right">
      <p><%= @project.full_description %></p>
    </div>
  </div>
</div>
