<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-3">
      <div class="profile-card">
        <div class="profile-picture">
           <% if @user.profile_picture %>
            <%= cl_image_tag @user.profile_picture %>
            <% else %>
            <%= image_tag "default-user.png", width: 100%>
            <% end %>
        </div>
        <div class="profile-info">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <p><%= @user.bio %></p>
          <h4>Skills</h4>
          <p><%= @user.skills %></p>
          <h4>Portfolio</h4>
          <p><%= link_to "my portfolio", "http://#{@user.portfolio_url}" %></p>
        </div>
        <%= link_to "edit", edit_user_path(@user) %>
      </div>
    </div>
  </div>
</div>
