<div class="container">
  <div class="wrapper">


    <div class="row requests">
      <% requests.each do |request| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="request-card">
          <%= link_to request_path(request) do %>
          <div class="request-card-img bg-picture" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 30%), url( <%= request.role.project.picture %>);">
          </div>
          <div class="request-card-content">
            <h3 class="request-card-subcategory"><%= request.role.title %></h3>
            <h5 class="request-card-title"><%= request.role.project.title %></h5>
            <div class=<%= request_status(request) %>> <p> status: <%= request_status(request) %></p></div>
          </div>
        </div>

        <% end %>
      </div>
      <% end %>
  </div>

  <div class="row invites">
    <% invites.each do |request| %>
    <div class="request-card">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to request_path(request) do %>
        <div class="user-requests-div" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 30%), url( <%= request.role.project.picture %>);"></div>
          <div class="user-requests-content">
            <h3><%= request.role.title %></h3>
            <h5><%= request.role.project.title %></h5>
            <div class=<%= request_status(request) %>><%= request_status(request) %></div>
          </div>
        </div>

        <% end %>
      </div>
      </div>
    <% end %>
  </div>
</div>
