<div class="container">
  <div class="row dashboard-total">

    <div class="profile-card col-md-3">
      <div class="profile-picture">
        <% if @user.profile_picture %>
          <div class="card-img bg-picture" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 30%), url( <%= @user.profile_picture %>);">
          </div>
   <!-- <%= cl_image_tag @user.profile_picture %> -->
        <% else %>
          <div class="card-img bg-picture" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 30%), url('default-user.png');">
          </div>
        <% end %>
      </div>
      <div class="dash-profile-info">
        <h2 class="user-name"><%= @user.first_name %> <%= @user.last_name %></h2>
        <p class="user-bio"><%= @user.bio %></p>
        <h4>Skills</h4>
        <p><%= @user.skills %></p>
        <h4>Portfolio</h4>
        <p><%= link_to "behance/bellima", "http://#{@user.portfolio_url}" %></p>
      </div>
      <p class="edit-profile-link text-center">
        <%= link_to "edit profile", edit_user_path(@user) %>
      </p>
    </div>

  <div class="col-md-8 col-md-offset-1 ">
  <!-- MY REQUESTS -->
    <div class="dash-box-right">
      <div class="dash-projects-title">
        <h2 class="dash-box-title">My Requests</h2>
      </div>

    <% if @requests.first.nil? %>
      <h5 class="no-requests">You have no applications. Search for projects and apply!</h5>
    <% else %>
      <% @requests.each do |request| %>
        <%= link_to request_path(request) do  %>
          <div class="row my-projects-list">
            <hr>
            <div class="col-md-3 dash-project-picture">
              <!-- PROJECT PICTURE HERE -->
              <div class="card-img bg-picture" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 30%), url( <%= request.role.project.picture %>); height: 100px;">
              </div>
            </div>
            <div class="col-md-6 dash-project-info">
              <!-- PROJECT INFO HERE -->
              <h3 class="card-title" id="request-title"><%= request.role.project.title %></h3>
              <h5 class="card-subcategory dash-sub"> <strong> <%= request.role.title %></strong> </h5>
              <!-- <p class="card-description dash-description"><%= request.role.description %></p> -->
            </div>
            <div class="col-md-3 dash-project-status">
              <!-- PROJECT STATUS HERE -->
              <div class="<%= request_status(request) %>">
                <p> status: <%= request_status(request) %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>

<!-- END OF MY REQUESTS -->

<!-- MY PROJECTS -->
    <div class="dash-box-right dash-requests">
      <div class="dash-projects-title">
        <h2 class="dash-box-title">My Projects</h2>
      </div>

      <% @projects.each do |project| %>
        <%= link_to project_path(project) do %>
          <div class="row my-projects-list">
            <hr>
            <div class="col-md-3 dash-project-picture">
              <!-- PROJECT PICTURE HERE -->
              <div class="card-img bg-picture" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 30%), url( <%= project.picture %>); height: 100px;"> </div>
            </div>
            <div class="col-md-6 dash-project-info">
              <!-- PROJECT INFO HERE -->
              <h3 class="card-title"><%= project.title %></h3>
              <h5 class="card-subcategory dash-sub"> <strong> <%= project.category %></strong> <%= project.subcategory %></h5>
              <p class="card-description dash-description"><%= project.short_description %></p>
            </div>
            <div class="col-md-3 dash-project-status">
              <!-- PROJECT STATUS HERE -->
              <h2 class="dash-pending-request">PENDING REQUESTS</h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<!-- END OF MY PROJECTS -->

  </div>
</div>

