<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag %>
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/pusher' %>
    <div style="min-height: 660px;">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://js.pusher.com/4.0/pusher.min.js" %>

    <%= yield(:after_js) %>

    <script>
      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;

      var urlCheck = (((window.location.href.indexOf("/personal_messages/new") > -1) || (window.location.href.indexOf("conversations") > -1) ));

      $(document).ready(function(){
        console.log(urlCheck);
        // $('.pusher').children().hide();
      })

      var pusher = new Pusher('b0de02a8f3fdb48196e8', {
        cluster: 'eu',
        encrypted: true
      });

      if (!urlCheck) {
        var channel = pusher.subscribe('user-id');
          channel.bind('status', function(data) {

            if (data.message === "accepted"){
              console.log(data.message);
              $('.accepted-request-notification').removeClass('hidden').addClass('shown');
            }
            if (data.message === "declined"){
              $('.declined-request-notification').removeClass('hidden').addClass('shown');
            }
          });

          channel.bind('message', function(data) {

            if (data.message === "message"){
              console.log(data.message === "message");
              $('.new-message-notification').removeClass('hidden').addClass('shown');
            }
          });
      }


    </script>
  </body>
</html>
